@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@include font-face('BigNoodleTitling', '../fonts/BigNoodleTitling', ttf otf eot woff woff2 svg);
@include font-face('BigNoodleTitling-Oblique', '../fonts/BigNoodleTitling-Oblique', ttf otf eot woff woff2 svg);
@import url(https://fonts.googleapis.com/css?family=Cabin:600|Open+Sans:300,400);

$bnt: 'BigNoodleTitling';
$bnto: 'BigNoodleTitling-Oblique';
$osans: 'Open Sans', sans-serif;
$cabin: 'Cabin', sans-serif;

*{
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
}

a, a:hover{
	text-decoration: none;
}

section, footer{
	display: block;
}

h1, h2, h3{
	font-weight: normal;
}

body{
	background: #000;
	color: #fff;
	font-family: $osans;
}

.wrapper{
	background: url(../img/bg.jpg) no-repeat center top;
	background-size: cover;
}

.container{
	width: 1180px;
	margin: 0 auto;
	text-align: center;
}

.logo{
	margin: 10px 0 15px;
}

.title{
	font-family: $bnto;
	font-size: 65pt;
	text-shadow: 10px 5px 25px #000;
}

.subtitle{
	font-family: $cabin;
	font-size: 30pt;
	text-transform: capitalize;
	text-shadow: 1px 1px 1px #000;
	width: 640px;
	margin: 0 auto;
}

.subtitle-left{
	text-align: left;
}

.subtitle-right{
	text-align: right;
}

.account-form{
	display: block;
	float: right;
	margin: 25px 100px 0 0;
	width: 290px;
}

.account-title{
	font-family: $bnto;
	font-size: 20pt;
	text-shadow: 5px 0px 40px #000, 0px 0px 30px #000;
	margin: 0 0 15px;
}

.account-title-green{
	color: #69c60f;
	font-size: 24pt;
}

.account-input{
	display: block;
	width: 100%;
	font-family: $osans;
	background: #000;
	color: #bdbdbd;
	margin: 0 0 18px;
	padding: 14px 10px;
	box-sizing: border-box;
}

.account-input-phonecode{
	width: 55px;
	float: left;
}

.account-input-phonenum{
	width: 215px;
	float: right;
}

.account-button{
	width: 100%
}

.clearfix{
	clear: both;
}

.benefits{
	
}

.benefits-block{
	
}

.benefits-block-title{
	
}

.benefits-block-text{
	
}

.benefits-block-img{
	display: block;
	margin: 0 auto;
}

.payment{
	
}

.payment-link{
	
}

.payment-logo{
	
}

.eligibility{
	text-align: left;
	color: #c3c3c3;
}